<% tag_list.each do |tag| %>
  <!-- bootstrap付きタグ -->
  <!-- <span class="label label-primary"><%= link_to tag,{ action: :tag, :tag_name => tag } %></span> -->
  <span><%= link_to tag,{ action: :tag, :tag_name => tag } %></span>
<% end %>
