// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container input[type="submit"] {
   height: 30px;
   font-size: 13px;
   background-color: #18BC9C;
   border: none;
   color: #fff;
 }
